{erl_opts, [{parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{edoc_opts, []}.
{deps,
 [
  {lager, "~>3.2.0"},
  {mdns_client_lib, "~>0.1.41"},
  {libsnarlmatch, "~>0.1.7"},
  {fifo_spec, "~>0.1.29"},
  {oauth2, "~>0.6.1", {pkg, oauth2_erlang}}
 ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.


{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.


{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
]}.

{dialyzer, [{warnings, [unmatched_returns,underspecs]}]}.
