{lib_dirs, ["deps"]}.
{erl_opts, [{i, "../../deps/alog/include"}, {i, "deps/alog/include"}, {i, ".."}, {i,"deps"}, {parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{edoc_opts, []}.
{deps,
 [
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}},
  {mdns_client_lib, ".*", {git, "https://github.com/Licenser/mdns_client_lib.git", {tag, "0.1.21"}}},
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.16"}}},
  {libsnarlmatch, ".*", {git, "https://github.com/project-fifo/libsnarlmatch.git", {tag, "0.1.4"}}},
  %%{oauth2, "0.6.*", {git, "https://github.com/kivra/oauth2.git", {tag, "0.6.0"}}}
  {oauth2, "0.6.*", {git, "https://github.com/project-fifo/oauth2.git", {ref, "7f88b8af3b09cad4eb83678cb2bdaed00fce6a76"}}}
 ]}.
