{erl_opts, [{parse_transform, lager_transform}, debug_info, warnings_as_errors]}.
{edoc_opts, []}.
{deps,
 [
  {lager, "2.1.1"},
  {mdns_client_lib, "0.1.25"},
  {libsnarlmatch, "0.1.6"},
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.19"}}},
  %%{oauth2, "0.6.*", {git, "https://github.com/kivra/oauth2.git", {tag, "0.6.0"}}}
  {oauth2, "0.6.*", {git, "https://github.com/project-fifo/oauth2.git", {ref, "7f88b8af3b09cad4eb83678cb2bdaed00fce6a76"}}}
 ]}.

{overrides,
 [{override, pooler,
   [{erl_opts,
     [{platform_define, "^[0-9]+", namespaced_types},
      debug_info,
      inline]}]}]}.
